# Carregamento dos conjuntos de dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
homicidios = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios.csv", encoding="ISO-8859-1",sep=";")
homicidios_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-negros.csv", encoding="ISO-8859-1",sep=";")
homicidios_nao_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-nao-negros.csv", encoding="ISO-8859-1",sep=";")
homicidios_armas_fogo = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-por-armas-de-fogo.csv", encoding="ISO-8859-1",sep=";")
homicidios_homens = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-homens.csv", encoding="ISO-8859-1",sep=";")
homicidios_homens_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-homens-negros.csv", encoding="ISO-8859-1",sep=";")
homicidios_homens_nao_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-homens-nao-negros.csv", encoding="ISO-8859-1",sep=";")
homicidios_homens_armas_fogo = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-de-homens-por-armas-de-fogo.csv", encoding="ISO-8859-1",sep=";")
homicidios_mulheres = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-mulheres.csv", encoding="ISO-8859-1",sep=";")
homicidios_mulheres_negras = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-mulheres-negras.csv", encoding="ISO-8859-1",sep=";")
homicidios_mulheres_nao_negras = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-mulheres-nao-negras.csv", encoding="ISO-8859-1",sep=";")
homicidios_mulheres_armas_fogo = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/homicidios-de-mulheres-por-armas-de-fogo.csv", encoding="ISO-8859-1",sep=";")

taxa_homicidios = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-homicidios.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-negros.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_nao_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-nao-negros.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_armas_fogo = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-por-armas-de-fogo.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_homens = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-homens.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_homens_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-homens-negros.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_homens_nao_negros = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-homens-nao-negros.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_homens_armas_fogo = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-de-homens-por-armas-de-fogo.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_mulheres = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-mulheres.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_mulheres_negras = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-mulheres-negras.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_mulheres_nao_negras = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxa-de-homicidios-mulheres-nao-negras.csv", encoding="ISO-8859-1",sep=";")
taxa_homicidios_mulheres_armas_fogo = pd.read_csv( "https://raw.githubusercontent.com/JosenildoVicente/homicidios-brasil/main/datasets/taxade-homicidio-de-mulheres-por-armas-de-fogo.csv", encoding="ISO-8859-1",sep=";")

In [3]:
homicidios = homicidios.rename(columns ={'perÃ­odo':'ano','valor':'homicidios'})
homicidios_negros = homicidios_negros.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_negros'})
homicidios_nao_negros = homicidios_nao_negros.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_nao_negros'})
homicidios_armas_fogo = homicidios_armas_fogo.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_armas_fogo'})
homicidios_homens = homicidios_homens.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_homens'})
homicidios_homens_negros = homicidios_homens_negros.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_homens_negros'})
homicidios_homens_nao_negros = homicidios_homens_nao_negros.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_homens_nao_negros'})
homicidios_homens_armas_fogo = homicidios_homens_armas_fogo.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_homens_armas_fogo'})
homicidios_mulheres = homicidios_mulheres.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_mulheres'})
homicidios_mulheres_negras = homicidios_mulheres_negras.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_mulheres_negras'})
homicidios_mulheres_nao_negras = homicidios_mulheres_nao_negras.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_mulheres_nao_negras'})
homicidios_mulheres_armas_fogo = homicidios_mulheres_armas_fogo.rename(columns ={'perÃ­odo':'ano','valor':'homicidios_mulheres_armas_fogo'})

taxa_homicidios = taxa_homicidios.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios'})
taxa_homicidios_negros = taxa_homicidios_negros.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_negros'})
taxa_homicidios_nao_negros = taxa_homicidios_nao_negros.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_nao_negros'})
taxa_homicidios_armas_fogo = taxa_homicidios_armas_fogo.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_armas_fogo'})
taxa_homicidios_homens = taxa_homicidios_homens.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_homens'})
taxa_homicidios_homens_negros = taxa_homicidios_homens_negros.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_homens_negros'})
taxa_homicidios_homens_nao_negros = taxa_homicidios_homens_nao_negros.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_homens_nao_negros'})
taxa_homicidios_homens_armas_fogo = taxa_homicidios_homens_armas_fogo.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_homens_armas_fogo'})
taxa_homicidios_mulheres = taxa_homicidios_mulheres.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_mulheres'})
taxa_homicidios_mulheres_negras = taxa_homicidios_mulheres_negras.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_mulheres_negras'})
taxa_homicidios_mulheres_nao_negras = taxa_homicidios_mulheres_nao_negras.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_mulheres_nao_negras'})
taxa_homicidios_mulheres_armas_fogo = taxa_homicidios_mulheres_armas_fogo.rename(columns ={'perÃ­odo':'ano','valor':'taxa_homicidios_mulheres_armas_fogo'})

In [4]:
teste = [homicidios_negros, homicidios_nao_negros, homicidios_armas_fogo, homicidios_homens, homicidios_homens_negros, homicidios_homens_nao_negros, homicidios_homens_armas_fogo, homicidios_mulheres, homicidios_mulheres_negras, homicidios_mulheres_nao_negras, homicidios_mulheres_armas_fogo, taxa_homicidios, taxa_homicidios_negros, taxa_homicidios_nao_negros, taxa_homicidios_armas_fogo, taxa_homicidios_homens, taxa_homicidios_homens_negros, taxa_homicidios_homens_nao_negros, taxa_homicidios_homens_armas_fogo, taxa_homicidios_mulheres, taxa_homicidios_mulheres_negras, taxa_homicidios_mulheres_nao_negras, taxa_homicidios_mulheres_armas_fogo]
for i in teste:
  homicidios = pd.merge(homicidios, i, how='left',on=['cod','nome','ano'])

In [5]:
homicidios.columns

Index(['cod', 'nome', 'ano', 'homicidios', 'homicidios_negros',
       'homicidios_nao_negros', 'homicidios_armas_fogo', 'homicidios_homens',
       'homicidios_homens_negros', 'homicidios_homens_nao_negros',
       'homicidios_homens_armas_fogo', 'homicidios_mulheres',
       'homicidios_mulheres_negras', 'homicidios_mulheres_nao_negras',
       'homicidios_mulheres_armas_fogo', 'taxa_homicidios',
       'taxa_homicidios_negros', 'taxa_homicidios_nao_negros',
       'taxa_homicidios_armas_fogo', 'taxa_homicidios_homens',
       'taxa_homicidios_homens_negros', 'taxa_homicidios_homens_nao_negros',
       'taxa_homicidios_homens_armas_fogo', 'taxa_homicidios_mulheres',
       'taxa_homicidios_mulheres_negras',
       'taxa_homicidios_mulheres_nao_negras',
       'taxa_homicidios_mulheres_armas_fogo'],
      dtype='object')

In [6]:
homicidios.head(27)

,cod,nome,ano,homicidios,homicidios_negros,homicidios_nao_negros,homicidios_armas_fogo,homicidios_homens,homicidios_homens_negros,homicidios_homens_nao_negros,...,taxa_homicidios_nao_negros,taxa_homicidios_armas_fogo,taxa_homicidios_homens,taxa_homicidios_homens_negros,taxa_homicidios_homens_nao_negros,taxa_homicidios_homens_armas_fogo,taxa_homicidios_mulheres,taxa_homicidios_mulheres_negras,taxa_homicidios_mulheres_nao_negras,taxa_homicidios_mulheres_armas_fogo
0,41,PR,1989,1112,NaN,NaN,498,1004.0,NaN,NaN,...,NaN,6.00,24.2,NaN,NaN,NaN,2.53,NaN,NaN,NaN
1,53,DF,1989,331,NaN,NaN,182,308.0,NaN,NaN,...,NaN,11.95,42.0,NaN,NaN,NaN,2.91,NaN,NaN,NaN
2,52,GO,1989,810,NaN,NaN,471,717.0,NaN,NaN,...,NaN,12.22,37.0,NaN,NaN,NaN,4.75,NaN,NaN,NaN
3,51,MT,1989,471,NaN,NaN,207,440.0,NaN,NaN,...,NaN,11.11,45.6,NaN,NaN,NaN,3.45,NaN,NaN,NaN
4,50,MS,1989,371,NaN,NaN,197,330.0,NaN,NaN,...,NaN,11.55,38.2,NaN,NaN,NaN,4.64,NaN,NaN,NaN
5,43,RS,1989,1561,NaN,NaN,796,1419.0,NaN,NaN,...,NaN,8.96,32.4,NaN,NaN,NaN,3.15,NaN,NaN,NaN
6,42,SC,1989,354,NaN,NaN,157,315.0,NaN,NaN,...,NaN,3.59,14.4,NaN,NaN,NaN,1.79,NaN,NaN,NaN
7,11,RO,1989,490,NaN,NaN,285,NaN,NaN,NaN,...,NaN,28.08,84.2,NaN,NaN,NaN,9.62,NaN,NaN,NaN
8,12,AC,1989,95,NaN,NaN,48,89.0,NaN,NaN,...,NaN,12.11,44.2,NaN,NaN,NaN,3.07,NaN,NaN,NaN
9,13,AM,1989,321,NaN,NaN,146,289.0,NaN,NaN,...,NaN,7.38,28.9,NaN,NaN,NaN,3.16,NaN,NaN,NaN
10,14,RR,1989,113,NaN,NaN,1,100.0,NaN,NaN,...,NaN,0.52,94.4,NaN,NaN,NaN,13.91,NaN,NaN,NaN
11,15,PA,1989,666,NaN,NaN,356,615.0,NaN,NaN,...,NaN,7.63,26.1,NaN,NaN,NaN,2.21,NaN,NaN,NaN
12,16,AP,1989,39,NaN,NaN,20,36.0,NaN,NaN,...,NaN,7.45,26.7,NaN,NaN,NaN,2.24,NaN,NaN,NaN
13,17,TO,1989,63,NaN,NaN,36,49.0,NaN,NaN,...,NaN,4.06,10.8,NaN,NaN,NaN,3.23,NaN,NaN,NaN
14,21,MA,1989,411,NaN,NaN,176,382.0,NaN,NaN,...,NaN,3.70,16.2,NaN,NaN,NaN,1.17,NaN,NaN,NaN
15,22,PI,1989,142,NaN,NaN,60,125.0,NaN,NaN,...,NaN,2.40,10.2,NaN,NaN,NaN,1.33,NaN,NaN,NaN
16,23,CE,1989,607,NaN,NaN,216,560.0,NaN,NaN,...,NaN,3.50,18.7,NaN,NaN,NaN,1.48,NaN,NaN,NaN
17,24,RN,1989,236,NaN,NaN,124,222.0,NaN,NaN,...,NaN,5.34,19.6,NaN,NaN,NaN,1.18,NaN,NaN,NaN
18,25,PB,1989,461,NaN,NaN,222,409.0,NaN,NaN,...,NaN,7.11,27.1,NaN,NaN,NaN,3.22,NaN,NaN,NaN
19,26,PE,1989,2553,NaN,NaN,1698,2379.0,NaN,NaN,...,NaN,24.44,70.9,NaN,NaN,NaN,4.82,NaN,NaN,NaN
20,27,AL,1989,805,NaN,NaN,331,739.0,NaN,NaN,...,NaN,13.70,62.6,NaN,NaN,NaN,5.34,NaN,NaN,NaN
21,28,SE,1989,139,NaN,NaN,71,124.0,NaN,NaN,...,NaN,4.97,17.7,NaN,NaN,NaN,2.06,NaN,NaN,NaN
22,29,BA,1989,1086,NaN,NaN,591,1000.0,NaN,NaN,...,NaN,5.17,17.7,NaN,NaN,NaN,1.38,NaN,NaN,NaN
23,31,MG,1989,1216,NaN,NaN,432,1047.0,NaN,NaN,...,NaN,2.82,13.8,NaN,NaN,NaN,2.18,NaN,NaN,NaN
24,32,ES,1989,845,NaN,NaN,395,763.0,NaN,NaN,...,NaN,15.83,61.2,NaN,NaN,NaN,6.01,NaN,NaN,NaN
25,33,RJ,1989,4290,NaN,NaN,2942,3980.0,NaN,NaN,...,NaN,23.48,65.7,NaN,NaN,NaN,4.70,NaN,NaN,NaN
26,35,SP,1989,9179,NaN,NaN,2822,8508.0,NaN,NaN,...,NaN,9.29,56.5,NaN,NaN,NaN,4.37,NaN,NaN,NaN